# EDA

In [9]:
import pandas as pd

from pathlib import Path

In [10]:
def read_tsv(partition: str) -> pd.DataFrame:
    header_path = Path.cwd().parent / "static" / "data" / "in-header.tsv"
    column_names = pd.read_csv(header_path, sep="\t", encoding="utf-8", nrows=0).columns.tolist()

    path = Path.cwd().parent / "static" / "data" / f"{partition}" / "in.tsv.xz"
    df = pd.read_csv(path, sep="\t", encoding="utf-8", compression='xz', header=None, names=column_names)
    
    return df.loc[:, ["filename", "keys"]]

In [11]:
df_raw = read_tsv("train")
df_raw

,filename,keys
0,00a1d238e37ac225b8045a97953e845d.pdf,effective_date jurisdiction party term
1,031470434423a8c40105a4b404ced88b.pdf,effective_date jurisdiction party term
2,03ae3b511276b560dc8806eb61b9d063.pdf,effective_date jurisdiction party term
3,03efbda01358533c167ca9b1e6d72051.pdf,effective_date jurisdiction party term
4,03fd0e629b617da00c54794a8a78b24d.pdf,effective_date jurisdiction party term
...,...,...
249,fbf608b62ef498171b70fb7b36be61a0.pdf,effective_date jurisdiction party term
250,fc2ce0e2abdcf676a1d4ab95191a9d17.pdf,effective_date jurisdiction party term
251,fc34f2d7a61e531870d05910c5c3599b.pdf,effective_date jurisdiction party term
252,fdf657ad612664d6f363040992f9a93c.pdf,effective_date jurisdiction party term
253,ff2f9c3d7198b961852b39b2b3969255.pdf,effective_date jurisdiction party term

In [12]:
def read_labels(partition: str) -> pd.DataFrame:
    path = Path.cwd().parent / "static" / "data" / f"{partition}" / "expected.tsv"
    df = pd.read_csv(path, sep="\t", encoding="utf-8", header=None, names=["labels"])
    return df

In [13]:
df_labels = read_labels("train")
df_labels

                                                labels
0    effective_date=2001-04-18 jurisdiction=Oregon ...
1    effective_date=2017-02-10 jurisdiction=Califor...
2    effective_date=2012-01-06 jurisdiction=Florida...
3    effective_date=1999-02-08 jurisdiction=Pennsyl...
4    effective_date=2011-07-13 jurisdiction=Califor...
..                                                 ...
249  effective_date=2005-03-28 jurisdiction=Florida...
250  effective_date=2006-04-13 jurisdiction=New_Yor...
251  effective_date=2010-03-19 jurisdiction=Delawar...
252  effective_date=2011-01-27 jurisdiction=Califor...
253  jurisdiction=Delaware party=Lydall_Inc. party=...

[254 rows x 1 columns]

In [14]:
df = pd.concat([df_raw, df_labels], axis=1)
df.head()

,filename,keys,labels
0,00a1d238e37ac225b8045a97953e845d.pdf,effective_date jurisdiction party term,effective_date=2001-04-18 jurisdiction=Oregon ...
1,031470434423a8c40105a4b404ced88b.pdf,effective_date jurisdiction party term,effective_date=2017-02-10 jurisdiction=Califor...
2,03ae3b511276b560dc8806eb61b9d063.pdf,effective_date jurisdiction party term,effective_date=2012-01-06 jurisdiction=Florida...
3,03efbda01358533c167ca9b1e6d72051.pdf,effective_date jurisdiction party term,effective_date=1999-02-08 jurisdiction=Pennsyl...
4,03fd0e629b617da00c54794a8a78b24d.pdf,effective_date jurisdiction party term,effective_date=2011-07-13 jurisdiction=Califor...